.analisis {
    background-color: #fad2a0;
    padding: 10px;
    text-align: justify;
    border-radius: 8px;
}

h1 {
    text-align: center;
}

p {
    font-size: 22px;
}

li {
    font-size: 18px;
}